.customize-control-skdd-color .wp-picker-open+.wp-picker-input-wrap {
	display: inline-flex;
}

.customize-control-skdd-color .skdd-color-picker-alpha.wp-color-picker {
	max-width: 96px;
	line-height: 17px;
}

.customize-control-skdd-color .wp-picker-clear {
	margin-left: 2%;
}
