@import "variables/breakpoints";

.primary-navigation.primary-mobile-navigation {
    display: none;
}

.has-header-layout-1, .has-header-layout-2, .has-header-layout-3 {
    
    .wrap-toggle-sidebar-menu {
        display: none;
    }

}

.has-header-layout-1, .has-header-layout-2 {

    .site_header_inner{
        justify-content: space-between;
    }

}

.has-header-layout-3, .has-header-layout-4 {

    .site_header_inner{
        justify-content: flex-end;

        .site-branding {
            margin-right:auto;
        }
    }

}

.has-header-layout-4 {
    
    .toggle-sidebar-menu-btn {
        margin-left:30px;
    }

    .sidebar-menu {
        width:100%;
        right: 0;
    }

}

.site-branding .custom-mobile-logo-url {
    display: none;
}

.sidebar-menu .main-navigation .primary-navigation > .menu-item {
    display: block;
}

.sidebar-menu .main-navigation .primary-navigation > .menu-item > a {
    padding: 0;
}

.main-navigation .primary-navigation > .menu-item > a {
    margin: 0 20px;
    line-height:var(--header-max-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-desktop {
        margin-left:14px;
        margin-right:14px;
    }

    @include tablet-down {
        line-height: var(--header-max-height-tablet); 
    }

}

.main-navigation .primary-navigation > .menu-item {
    &:last-of-type {
        a {
            margin-right:0;
        }
    }
}

.site-navigation, .main-navigation, .primary-navigation {
    height:var(--header-max-height);

    @include tablet-down {
        height: var(--header-max-height-tablet); 
    }
}

.main-navigation .primary-navigation > .menu-item {
    display: inline-flex;
    height:var(--header-max-height);
    line-height:var(--header-max-height);
    align-items: center;
    flex-direction: column;

    @include tablet-down {
        height: var(--header-max-height-tablet);
        line-height: var(--header-max-height-tablet);  
    }

}

.has-header-layout-1, .has-header-layout-2, .has-header-layout-3 {

    .sidebar-menu {
        display: none;
    }
}    


.sidebar-menu .main-navigation .primary-navigation .sub-menu {
    margin-left: 20px !important;
}


.sidebar-menu-open .sidebar-menu .site-navigation {
    left: 60px;
       right: 60px;
  }

.has-header-transparent.header-transparent-for-desktop .site_header {
      position: absolute;
}

.skdd-nav-menu-widget .skdd-toggle-nav-menu-button, .skdd-nav-menu-widget .site-search, .skdd-nav-menu-widget .skdd-nav-menu-account-action {
    display: none;
}

.sidebar-menu-open .sidebar-menu .site-navigation {
    left: 60px;
    right: 60px;
}

.has-header-transparent.header-transparent-for-desktop .site_header {
    position: absolute;
}

.has-custom-mobile-logo .custom-mobile-logo-url {
    display: none;
}

.main-navigation li {
    list-style: none;
}


.site_header_inner .site-navigation:last-child .main-navigation {
    padding-right: 0;    
  }

  .main-navigation ul {
    padding-left: 0;
    margin: 0;
}



.main-navigation .primary-navigation > .menu-item .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top:calc(var(--header-max-height) + 25px);
    left: -20px;
    margin-left: 0;
    min-width: 300px;
    text-align: left;
    z-index: -1;
    border-radius:0 0 var(--border-radius) var(--border-radius);
    padding:20px;

    @include tablet-down {
        top:calc(var(--header-max-height-tablet) + 25px); 
    }
}

.main-navigation .primary-navigation > .menu-item .sub-menu .menu-item-has-children .menu-item-arrow {
    transform: rotate(-90deg);
}

.main-navigation .primary-navigation > .menu-item .sub-menu {
    a {
    padding: 10px 0 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .ghostkit-button {
        padding: 10px 30px 10px 30px;
    }
}


.main-navigation .primary-navigation > .menu-item .sub-menu a.tinvwl_add_to_wishlist_button, .main-navigation .primary-navigation > .menu-item .sub-menu a.woocommerce-loop-product__link, .main-navigation .primary-navigation > .menu-item .sub-menu a.loop-add-to-cart-btn {
    padding: 0;
    justify-content: center;
    border-radius: 0;
}

.main-navigation .primary-navigation > .menu-item .sub-menu a.tinvwl_add_to_wishlist_button:hover, .main-navigation .primary-navigation > .menu-item .sub-menu a.woocommerce-loop-product__link:hover, .main-navigation .primary-navigation > .menu-item .sub-menu a.loop-add-to-cart-btn:hover {
    background-color: transparent;
}

.main-navigation .primary-navigation > .menu-item .sub-menu a:hover {
    background:var(--submenu-offset-color);
}

.main-navigation .primary-navigation .menu-item {
    position: relative;
}

.main-navigation .primary-navigation .menu-item:hover > .sub-menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    top: var(--header-max-height);
    z-index: 5;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    @include tablet-down {
        top:var(--header-max-height-tablet); 
    }
}

.main-navigation .primary-navigation .sub-menu {
    pointer-events: none;
    background-color: var(--submenu-background-color);
    color:var(--submenu-color);
    //-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    //box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.main-navigation .primary-navigation .sub-menu > .menu-item > .sub-menu {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    top: 0;
    left: 110%;
}

.main-navigation .primary-navigation .sub-menu > .menu-item:hover > .sub-menu {
    left: 90%;
}


.main-navigation {
  
    .primary-navigation {
  
        .mega-menu.menu-item {
            position: inherit;          
        
            .sub-menu {
                width:100vw;
                position:absolute;
                left:0;
                min-height:clamp(550px, 50vh, 100vh);
                border-radius:0;
                padding: var(--content-spacing)  clamp(500px, 25vw, 600px)  var(--content-spacing)  var(--content-spacing);
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .menu-item-arrow {
                    display:none;
                }

                .menu-item {
                    max-width:20vw;

                    a {
                        font-weight:var(--heading-font-weight);
                        font-size:calc(var(--header-size-4) * .93);
                        padding:0;
    
                        &:hover, &:focus {
                            background:none;
                            color:var(--theme-color);
                        }
                    }

                    .menu-item-text {
                        padding:5px 0;
                    }

                }

                .sidebar {
                    display:block;
                    position:absolute;
                    right:var(--content-spacing);
                    width:clamp(300px, 22vw, 500px);
                    border-radius: var(--border-radius);
                    overflow:hidden;
                }

                .sub-menu {
                    width:auto;
                    position:relative;
                    min-height:auto;
                    display:flex;
                    flex-direction: column;
                    background:none;
                    opacity:inherit;
                    visibility:inherit;
                    transform: 0;
                    left:0;
                    padding:10px 0 0 0;
                    margin-bottom:var(--content-spacing);
                    
                    .menu-item {
                        max-width:auto;

                        a {
                            font-weight:var(--body-font-weight);
                            font-size:var(--body-font-size);                           
                        }
                    }  
                    
                }

                
            }
        
        }

        .sidebar {
            display:none;
        }
    
    }
  
  }


.has-header-layout-1, .has-header-layout-2, .has-header-layout-3 {
    .wrap-toggle-sidebar-menu {
        display: none;
    }
}

.has-header-layout-1 .site-navigation {
    flex-grow: 1;
    text-align: left;
    margin-left:var(--content-spacing);
    margin-right:var(--content-spacing);
}

.has-header-layout-2 .site-navigation {
    text-align: left;
}


.has-header-layout-1 .site-navigation .site-search:not(.skdd-search-form-widget),
.has-header-layout-1 .site-navigation .mobile-my-account, .has-header-layout-2 .site-navigation .site-search:not(.skdd-search-form-widget),
.has-header-layout-2 .site-navigation .mobile-my-account {
    display: none;
}


// Hide the mobile header widget area on larger screens
.mobile_header_widget_area {
    display:none;
  }