@import "variables/breakpoints";

.primary-navigation.primary-mobile-navigation {
    display: none;
}

.has-header-layout-1, .has-header-layout-2, .has-header-layout-3 {
    
    .wrap-toggle-sidebar-menu {
        display: none;
    }

}

.has-header-layout-1, .has-header-layout-2 {

    .site_header_inner{
        justify-content: space-between;
    }

}

.has-header-layout-3, .has-header-layout-4 {

    .site_header_inner{
        justify-content: flex-end;

        .site-branding {
            margin-right:auto;
        }
    }

}

.has-header-layout-4 {
    
    .toggle-sidebar-menu-btn {
        margin-left:30px;
    }

    .sidebar-menu {
        width:100%;
        right: 0;
    }

}

.site-branding .custom-mobile-logo-url {
    display: none;
}

.sidebar-menu .main-navigation .primary-navigation > .menu-item {
    display: block;
}

.sidebar-menu .main-navigation .primary-navigation > .menu-item > a {
    padding: 0;
}

.main-navigation .primary-navigation > .menu-item > a {
    margin: 0 20px;
    line-height:var(--header-max-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-desktop {
        margin: 0 10px;
    }

}

.site-navigation, .main-navigation, .primary-navigation {
    height:var(--header-max-height);
}

.main-navigation .primary-navigation > .menu-item {
    display: inline-flex;
    height:var(--header-max-height);
    line-height:var(--header-max-height);
    align-items: center;
    flex-direction: column;

}

.has-header-layout-1, .has-header-layout-2, .has-header-layout-3 {

    .sidebar-menu {
        display: none;
    }
}    

.sidebar-menu .main-navigation .primary-navigation .menu-item-has-mega-menu .mega-menu-wrapper {
    min-width: auto;
    max-width: 100%;
    transform: none;
    position: static;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
}



.sidebar-menu .main-navigation .primary-navigation .sub-menu {
    margin-left: 20px !important;
}

.sidebar-menu .main-navigation .primary-navigation .sub-menu:not(.sub-mega-menu) {
    transition-duration: 0s;
}

.sidebar-menu .main-navigation .primary-navigation > .menu-item ul:not(.sub-mega-menu) {
    opacity: 1;
    visibility: visible;
    transform: none;
    position: static;
    box-shadow: none;
    transition-duration: 0s;
    min-width: auto;
}

.sidebar-menu .main-navigation .primary-navigation > .menu-item ul:not(.sub-mega-menu) a {
    padding-right: 0;
    padding-left: 0;
}

.sidebar-menu-open .sidebar-menu .site-navigation {
    left: 60px;
       right: 60px;
  }

.has-header-transparent.header-transparent-for-desktop .site_header {
      position: absolute;
}

.SKDD-nav-menu-widget .SKDD-toggle-nav-menu-button, .SKDD-nav-menu-widget .site-search, .SKDD-nav-menu-widget .SKDD-nav-menu-account-action {
    display: none;
}

.sidebar-menu-open .sidebar-menu .site-navigation {
    left: 60px;
    right: 60px;
}

.has-header-transparent.header-transparent-for-desktop .site_header {
    position: absolute;
}

.has-custom-mobile-logo .custom-mobile-logo-url {
    display: none;
}

.main-navigation li {
    list-style: none;
}


.site_header_inner .site-navigation:last-child .main-navigation {
    padding-right: 0;    
  }

  .main-navigation ul {
    padding-left: 0;
    margin: 0;
}



.main-navigation .primary-navigation > .menu-item .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top:calc(var(--header-max-height) + 25px);
    left: -20px;
    margin-left: 0;
    min-width: 300px;
    text-align: left;
    z-index: -1;
    border-radius:var(--border-radius);
    padding:20px;
}

.main-navigation .primary-navigation > .menu-item .sub-menu .menu-item-has-children .menu-item-arrow {
    transform: rotate(-90deg);
}

.main-navigation .primary-navigation > .menu-item .sub-menu a {
    padding: 10px 0 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navigation .primary-navigation > .menu-item .sub-menu a.tinvwl_add_to_wishlist_button, .main-navigation .primary-navigation > .menu-item .sub-menu a.woocommerce-loop-product__link, .main-navigation .primary-navigation > .menu-item .sub-menu a.loop-add-to-cart-btn {
    padding: 0;
    justify-content: center;
    border-radius: 0;
}

.main-navigation .primary-navigation > .menu-item .sub-menu a.tinvwl_add_to_wishlist_button:hover, .main-navigation .primary-navigation > .menu-item .sub-menu a.woocommerce-loop-product__link:hover, .main-navigation .primary-navigation > .menu-item .sub-menu a.loop-add-to-cart-btn:hover {
    background-color: transparent;
}

.main-navigation .primary-navigation > .menu-item .sub-menu a:hover {
    background: rgba(239, 239, 239, 0.28);
}

.main-navigation .primary-navigation .menu-item {
    position: relative;
}

.main-navigation .primary-navigation .menu-item:hover > .sub-menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    top: calc(var(--header-max-height) - 13px);
    z-index: 5;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.main-navigation .primary-navigation .sub-menu {
    pointer-events: none;
    background-color: var(--sidebar-background-color);
    color:var(--sidebar-text-color);
    //-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    //box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: var(--border-radius);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.main-navigation .primary-navigation .sub-menu > .menu-item > .sub-menu {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    top: 0;
    left: 110%;
}

.main-navigation .primary-navigation .sub-menu > .menu-item:hover > .sub-menu {
    left: 100%;
}

.has-header-layout-1, .has-header-layout-2, .has-header-layout-3 {
    .wrap-toggle-sidebar-menu {
        display: none;
    }
}

.has-header-layout-1 .site-navigation {
    flex-grow: 1;
    text-align: left;
    margin-left:var(--content-spacing);
    margin-right:var(--content-spacing);
}

.has-header-layout-2 .site-navigation {
    text-align: left;
}


.has-header-layout-1 .site-navigation .site-search:not(.SKDD-search-form-widget),
.has-header-layout-1 .site-navigation .mobile-my-account, .has-header-layout-2 .site-navigation .site-search:not(.SKDD-search-form-widget),
.has-header-layout-2 .site-navigation .mobile-my-account {
    display: none;
}