.primary-navigation.primary-mobile-navigation {
  display: none; }

.has-header-layout-1 .wrap-toggle-sidebar-menu, .has-header-layout-2 .wrap-toggle-sidebar-menu, .has-header-layout-3 .wrap-toggle-sidebar-menu {
  display: none; }

.has-header-layout-1 .site_header_inner, .has-header-layout-2 .site_header_inner {
  justify-content: space-between; }

.has-header-layout-3 .site_header_inner, .has-header-layout-4 .site_header_inner {
  justify-content: flex-end; }
  .has-header-layout-3 .site_header_inner .site-branding, .has-header-layout-4 .site_header_inner .site-branding {
    margin-right: auto; }

.has-header-layout-4 .toggle-sidebar-menu-btn {
  margin-left: 30px; }
.has-header-layout-4 .sidebar-menu {
  width: 100%;
  right: 0; }

.site-branding .custom-mobile-logo-url {
  display: none; }

.sidebar-menu .main-navigation .primary-navigation > .menu-item {
  display: block; }

.sidebar-menu .main-navigation .primary-navigation > .menu-item > a {
  padding: 0; }

.main-navigation .primary-navigation > .menu-item > a {
  margin: 0 20px;
  line-height: var(--header-max-height);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .main-navigation .primary-navigation > .menu-item > a {
      margin-left: 7px;
      margin-right: 7px; } }
  @media (max-width: 1023px) {
    .main-navigation .primary-navigation > .menu-item > a {
      line-height: var(--header-max-height-tablet); } }

.main-navigation .primary-navigation > .menu-item:last-of-type a {
  margin-right: 0; }

.site-navigation, .main-navigation, .primary-navigation {
  height: var(--header-max-height); }
  @media (max-width: 1023px) {
    .site-navigation, .main-navigation, .primary-navigation {
      height: var(--header-max-height-tablet); } }

.main-navigation .primary-navigation > .menu-item {
  display: inline-flex;
  height: var(--header-max-height);
  line-height: var(--header-max-height);
  align-items: center;
  flex-direction: column; }
  @media (max-width: 1023px) {
    .main-navigation .primary-navigation > .menu-item {
      height: var(--header-max-height-tablet);
      line-height: var(--header-max-height-tablet); } }

.has-header-layout-1 .sidebar-menu, .has-header-layout-2 .sidebar-menu, .has-header-layout-3 .sidebar-menu {
  display: none; }

.sidebar-menu .main-navigation .primary-navigation .sub-menu {
  margin-left: 20px !important; }

.sidebar-menu-open .sidebar-menu .site-navigation {
  left: 60px;
  right: 60px; }

.has-header-transparent.header-transparent-for-desktop .site_header {
  position: absolute; }

.SKDD-nav-menu-widget .SKDD-toggle-nav-menu-button, .SKDD-nav-menu-widget .site-search, .SKDD-nav-menu-widget .SKDD-nav-menu-account-action {
  display: none; }

.sidebar-menu-open .sidebar-menu .site-navigation {
  left: 60px;
  right: 60px; }

.has-header-transparent.header-transparent-for-desktop .site_header {
  position: absolute; }

.has-custom-mobile-logo .custom-mobile-logo-url {
  display: none; }

.main-navigation li {
  list-style: none; }

.site_header_inner .site-navigation:last-child .main-navigation {
  padding-right: 0; }

.main-navigation ul {
  padding-left: 0;
  margin: 0; }

.main-navigation .primary-navigation > .menu-item .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(var(--header-max-height) + 25px);
  left: -20px;
  margin-left: 0;
  min-width: 300px;
  text-align: left;
  z-index: -1;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 20px; }
  @media (max-width: 1023px) {
    .main-navigation .primary-navigation > .menu-item .sub-menu {
      top: calc(var(--header-max-height-tablet) + 25px); } }

.main-navigation .primary-navigation > .menu-item .sub-menu .menu-item-has-children .menu-item-arrow {
  transform: rotate(-90deg); }

.main-navigation .primary-navigation > .menu-item .sub-menu a {
  padding: 10px 0 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.main-navigation .primary-navigation > .menu-item .sub-menu .ghostkit-button {
  padding: 10px 30px 10px 30px; }

.main-navigation .primary-navigation > .menu-item .sub-menu a.tinvwl_add_to_wishlist_button, .main-navigation .primary-navigation > .menu-item .sub-menu a.woocommerce-loop-product__link, .main-navigation .primary-navigation > .menu-item .sub-menu a.loop-add-to-cart-btn {
  padding: 0;
  justify-content: center;
  border-radius: 0; }

.main-navigation .primary-navigation > .menu-item .sub-menu a.tinvwl_add_to_wishlist_button:hover, .main-navigation .primary-navigation > .menu-item .sub-menu a.woocommerce-loop-product__link:hover, .main-navigation .primary-navigation > .menu-item .sub-menu a.loop-add-to-cart-btn:hover {
  background-color: transparent; }

.main-navigation .primary-navigation > .menu-item .sub-menu a:hover {
  background: var(--submenu-offset-color); }

.main-navigation .primary-navigation .menu-item {
  position: relative; }

.main-navigation .primary-navigation .menu-item:hover > .sub-menu {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  top: var(--header-max-height);
  z-index: 5;
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }
  @media (max-width: 1023px) {
    .main-navigation .primary-navigation .menu-item:hover > .sub-menu {
      top: var(--header-max-height-tablet); } }

.main-navigation .primary-navigation .sub-menu {
  pointer-events: none;
  background-color: var(--submenu-background-color);
  color: var(--submenu-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform: translateY(10px);
  transform: translateY(10px); }

.main-navigation .primary-navigation .sub-menu > .menu-item > .sub-menu {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  top: 0;
  left: 110%; }

.main-navigation .primary-navigation .sub-menu > .menu-item:hover > .sub-menu {
  left: 100%; }

.main-navigation .primary-navigation .mega-menu.menu-item {
  position: inherit; }
  .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu {
    width: 100vw;
    position: absolute;
    left: 0;
    min-height: clamp(550px, 50vh, 100vh);
    border-radius: 0;
    padding: var(--content-spacing) clamp(500px, 25vw, 600px) var(--content-spacing) var(--content-spacing);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .menu-item-arrow {
      display: none; }
    .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .menu-item {
      max-width: 20vw; }
      .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .menu-item a {
        font-weight: var(--heading-font-weight);
        font-size: calc(var(--header-size-4) * .93);
        padding: 0; }
        .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .menu-item a:hover, .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .menu-item a:focus {
          background: none;
          color: var(--theme-color); }
      .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .menu-item .menu-item-text {
        padding: 5px 0; }
    .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .sidebar {
      display: block;
      position: absolute;
      right: var(--content-spacing);
      width: clamp(300px, 22vw, 500px);
      border-radius: var(--border-radius);
      overflow: hidden; }
    .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .sub-menu {
      width: auto;
      position: relative;
      min-height: auto;
      display: flex;
      flex-direction: column;
      background: none;
      opacity: inherit;
      visibility: inherit;
      transform: 0;
      left: 0;
      padding: 10px 0 0 0;
      margin-bottom: var(--content-spacing); }
      .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .sub-menu .menu-item {
        max-width: auto; }
        .main-navigation .primary-navigation .mega-menu.menu-item .sub-menu .sub-menu .menu-item a {
          font-weight: var(--body-font-weight);
          font-size: var(--body-font-size); }
.main-navigation .primary-navigation .sidebar {
  display: none; }

.has-header-layout-1 .wrap-toggle-sidebar-menu, .has-header-layout-2 .wrap-toggle-sidebar-menu, .has-header-layout-3 .wrap-toggle-sidebar-menu {
  display: none; }

.has-header-layout-1 .site-navigation {
  flex-grow: 1;
  text-align: left;
  margin-left: var(--content-spacing);
  margin-right: var(--content-spacing); }

.has-header-layout-2 .site-navigation {
  text-align: left; }

.has-header-layout-1 .site-navigation .site-search:not(.SKDD-search-form-widget),
.has-header-layout-1 .site-navigation .mobile-my-account, .has-header-layout-2 .site-navigation .site-search:not(.SKDD-search-form-widget),
.has-header-layout-2 .site-navigation .mobile-my-account {
  display: none; }

.mobile_header_widget_area {
  display: none; }

/*# sourceMappingURL=large-screens.css.map */
